doctype html
html
	include pug/head
	body
		nav(class="navbar")
	div
		a(class="header-left" href="#page-top")
			span(class="brand-text") MOTIONCOLLABS
		div(class="header-right")
			a(class="navbar-item" href="credits") Credits
			button(class="navbar-item") Join!

		