$headerText: #ffffff;

html{
	font-family: 'Roboto', sans-serif;
}


.navbar{
	position: absolute;
	top:10px;
	height:100px;
	background:#000000;
	display:block;

	.header-left{
		display:inline-block;
		color:#ffffff;
		left:10px;
		text-decoration: none;

		.brand-text{
			font-style:black;
			font-weight:900;
			font-size:20px;
			text-align:left;
			padding: 20px 10px;
		}
	}
	.header-right{
		display:inline-block;
		right:10px;
		align:right;
		
		.navbar-item{
			padding:20px 10px;
			background: #000000;
			text-color: #ffffff;
		}
	}
}